build
target
lib
*.dot

# use glob syntax.
syntax: glob
creds.clj
Manifest.txt
aws.clj
*.ser
*.class
*.jar
*~
*.bak
*.off
*.old
.DS_Store
*.#*
*#*
*.classpath
*.project
*.settings
*.pyc
.lein-failures
/.lein-deps-sum
.cache
.cpcache
.idea
*.iml
