{:aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.0" :git/sha "e3e3532"}
                 io.github.slipset/deps-deploy {:sha "d1fac08888ec8beda0579d3071bb9f804a1d446c"}}
          :ns-default build}
  ;; we use babashka/neil for project attributes
  :neil {:project {:version "1.1.41"
                   :name com.github.lread/muckabout}}}}
