{:aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.0" :git/sha "e3e3532"}
                 io.github.slipset/deps-deploy {:sha "d1fac08888ec8beda0579d3071bb9f804a1d446c"}}
          :ns-default build}
  ;; we use babashka/neil for project attributes
  :neil {:project {:version "1.1.33"
                   :name clj-commons/yaml}}}}
